$color_1: #000;
$color_2: #fff;
$font-family_1: 'Permanent Marker', cursive;
$background-color_1: #000;
$background-color_2: #fff;
$background-color_3: #454343;

@keyframes img__animate {
	0% {
		border-radius: 40% 20% 15% 50%/ 40% 15% 50% 20%;
	}
	50% {
		border-radius: 20% 40% 50% 20%/ 30% 30% 15% 40%;
	}
	100% {
		border-radius: 40% 20% 15% 50%/ 40% 15% 50% 20%;
	}
}
.home__content {
	display: flex;
	flex-direction: row;
	padding-top: 5.5rem;
	align-items: center;
}
.home__img {
	background: url(../../assets/20230120_152710_2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: contain;
	box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	order: 1;
	justify-self: center;
	width: 400px;
	height: 450px;
	animation: img__animate 8s ease-in-out infinite 1s;
}
.home__title {
	font-size: 3rem;
	margin-bottom: 0.25rem;
	padding: 0 10px;
	font-family: $font-family_1;
}
.home__subtitle {
	position: relative;
	font-size: 1.2rem;
	padding-left: 5.4rem;
	font-weight: 400;
	margin-bottom: 1rem;
	&::before {
		content: "";
		position: absolute;
		width: 70px;
		height: 1px;
		background-color: $background-color_1;
		left: 0;
		top: 1rem;
	}
}
.home__description {
	font-size: 1.1rem;
}
.button--flex {
	font-size: 1rem;
	border: 1px solid #454343;
	color: $color_1;
	background-color: $background-color_2;
	margin: 30px 0;
	transition: .4s;
	&:hover {
		background-color: $background-color_3;
		color: $color_2;
	}
}
@media screen and (max-width: 992px) {
	.home__content {
		grid-template-columns: 100px repeat(2, 1fr);
		column-gap: 1.25rem;
	}
	.home__subtitle {
		padding-left: 3.75rem;
		margin-bottom: 1rem;
		&::before {
			width: 42px;
			top: 0.8rem;
		}
	}
	.home__img {
		width: 300px;
		height: 350px;
		box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.2);
	}
}
@media screen and (max-width: 768px) {
	.home__content {
		display: flex;
		flex-direction: column;
	}
	.home__img {
		order: initial;
		justify-self: initial;
	}
	.home__data {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.section {
		padding: 0.5rem 0.2rem;
	}
}
@media screen and (max-width: 430px) {
	.home__title {
		font-size: 2rem;
	}
	.home__subtitle {
		font-size: 1rem;
	}
}
